
<p>Eso es un Test, con Fecha, Hora y una Imagen insertada, deslice el Scroll para ver la imagen</p>
<p>"FORMA 1: "<%=l @test_info, format: :short %></p>
<p>"FORMA 2: "<%= @test_info.strftime("%d/%m/%Y") %></p>
<p>"FORMA 3: "<%=@test_info %></p>
<p><%=image_tag 'helios.jpg'%></p>

